# dependencies
/node_modules

# testing
/coverage

# IDE
.project
.classpath
.settings/
.xml/
*.iml
.idea/
.vscode
.idea
.directory

# Выходные папки
bin/
target/
/build
/dist
/war
/output


# Файлы maven
dependency-reduced-pom.xml

# Временные файлы
~*.doc
~*.docx
$*/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
